@model Turnos.Models.Medico



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Medico</h4>
    <hr />
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title"><h5><b></b>@Html.DisplayFor(model => model.Nombre), @Html.DisplayFor(model => model.Apellido)</b></b></h5></span>
                    <br />
                    <dt>
                        @Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono): @Html.DisplayFor(model => model.Telefono)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.HorarioAtencionDesde): @Html.DisplayFor(model => model.HorarioAtencionDesde)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.HorarioAtencionHasta): @Html.DisplayFor(model => model.HorarioAtencionHasta)
                    </dt>

                </div>
                <div class="card-action blue darken-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdMedico" />
                        <a asp-action="Edit" asp-route-id="@Model.IdMedico" class="white-text"><b>EDITAR</b></a> 
                        <a class="white-text right" asp-action="Index"><b>VOLVER </b></a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
